.createPositionWrapper {
  /* height: calc(100vh - 64px); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPositionWrapper .container {
  width: 30%;
  height: 60%;
}
