.technician-homepage-options {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-row: auto auto;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  justify-content: center;
  width: 100vw;
}

.technician-homepage-options a div {
  width: 20vw;
  height: 25vh;
  margin-top: 5%;
  font-size: 1.5em;
  padding: 3%;
}

.technician-homepage-options a div svg {
  font-size: 8em;
}
