.outermostPositionsContainer .outerPositionsContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.outermostPositionsContainer .outerPositionsContainer .positionFilterSidebar {
  min-width: 15%;
  max-width: 15%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.outermostPositionsContainer .innerPositionsContainer {
  min-width: 85%;
  max-width: 85%;
}

.applicant-buttons a:visited {
  color: white;
}

.positionFilterSidebar .MuiFormControl-root .MuiFormLabel-root {
  color: black;
  text-align: left;
}
